* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Geist", sans-serif;
}
/* Header */
.navbar {
  backdrop-filter: blur(8px);
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-evenly;
  height: 64px;
  border-bottom: 1px solid #ccc;
  background-color: #ffff;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px;
  color: #16a34a;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navbar-menu li a {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.navbar-menu li a:hover {
  color: #16a34a;
}
.icon {
  width: 16px;
  height: 16px;
}

.navbar-right {
  display: flex;
  gap: 12px;
}

.btn-outline {
  padding: 11px 16px;
  border: 1px solid #dddddd;
  background: #ffff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

.btn-solid {
  padding: 11px 16px;
  background: #16a34a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #fafafa;
}
.btn-solid:hover {
  background: #19803d;
}
.btn-outline:hover {
  background: #f4f4f5;
}
/* Footer */
.footer {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 40px 20px 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col {
  flex: 1 1 200px;
}

.logo-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.logo {
  width: 24px;
  height: 24px;
}

.brand-name {
  font-weight: bold;
  font-size: 18px;
}

.description {
  font-size: 14px;
  max-width: 300px;
  opacity: 0.7;
  font-weight: 400;
}

.footer-col h4 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-col a {
  color: black;
  display: block;
  margin: 15px 0px;
  opacity: 0.7;
  text-decoration: none;
  font-size: 14px;
}

.footer-col a:hover {
  color: black;
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 13px;
  color: #6b7280;
  border-top: 1px solid #e5e5e5;
}
/* --------------------------------------------------------------- */
/* CSS Tracking */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Geist", sans-serif;
}
/* Header */
.navbar {
  backdrop-filter: blur(8px);
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-evenly;
  height: 64px;
  border-bottom: 1px solid #ccc;
  background-color: #ffff;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px;
  color: #16a34a;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 24px;
}

.navbar-menu li a {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.navbar-menu li a:hover {
  color: #16a34a;
}
.icon {
  width: 16px;
  height: 16px;
}

.navbar-right {
  display: flex;
  gap: 12px;
}

.btn-outline {
  padding: 11px 16px;
  border: 1px solid #dddddd;
  background: #ffff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

.btn-solid {
  padding: 11px 16px;
  background: #16a34a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #fafafa;
}
.btn-solid:hover {
  background: #19803d;
}
.btn-outline:hover {
  background: #f4f4f5;
}
/* Footer */
.footer {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 40px 20px 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col {
  flex: 1 1 200px;
}

.logo-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.logo {
  width: 24px;
  height: 24px;
}

.brand-name {
  font-weight: bold;
  font-size: 18px;
}

.description {
  font-size: 14px;
  max-width: 300px;
  opacity: 0.7;
  font-weight: 400;
}

.footer-col h4 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-col a {
  color: black;
  display: block;
  margin: 15px 0px;
  opacity: 0.7;
  text-decoration: none;
  font-size: 14px;
}

.footer-col a:hover {
  color: black;
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 13px;
  color: #6b7280;
  border-top: 1px solid #e5e5e5;
}

/* ========== Hover hiệu ứng chung cho Button trên HomePage ========== */
button:hover,
.ant-btn:hover {
  filter: brightness(0.9); /* Làm nút tối hơn khi hover */
  transition: all 0.3s ease;
}
